#signUp .background > img {
  width: 100%;
}

#signUp .signUp {
  position: relative;
}
.signUp-form {
  padding: 20px;
  top: 100px;
  right: 500px;
  position: absolute;
  width: 540px;
  height: 490px;
  background: rgba(255, 255, 255, 0.75);
  border-radius: 20px;
}
.signUp-title {
  display: flex;
  justify-content: space-between;
}
.signUp-btn {
  display: flex;
  justify-content: space-around;
}
.google {
  cursor: pointer;
  text-align: center;
  width: 268px;
  height: 42px;
  border: 1px solid rgba(66, 133, 244, 1);
  background-color: rgb(90, 182, 227);
  border-radius: 10px;
}

.facebook {
  margin-left: 40px;
}
.signUp-info {
  border-radius: 5px;
}

.btn-primary {
  background-color: rgb(68, 108, 7);
}
.btn-primary:hover {
  background-color: #fff;
  color: rgb(68, 108, 7);
}
.btn {
  width: 150px;
}
.userInfo {
  display: flex;
  justify-content: space-between;
}
.signUp-info > p {
  color: red;
}
