#signin .background > img {
  width: 100%;
}

#signin .signin {
  position: relative;
}
.signin-form {
  top: 100px;
  right: 500px;
  position: absolute;
  width: 540px;
  height: 500px;
  background: rgba(255, 255, 255, 0.75);
  border-radius: 20px;
}
.signin-title {
  margin: 20px;
  display: flex;
  justify-content: space-between;
}
.signin-btn {
  display: flex;
  justify-content: space-around;
}
.google {
  padding-top: 8px;
  cursor: pointer;
  text-align: center;
  width: 268px;
  height: 42px;
  border: 1px solid rgba(66, 133, 244, 1);
  background-color: rgb(90, 182, 227);
  border-radius: 10px;
}

.signin-info {
  margin: 20px;
  border-radius: 5px;
}
a {
  text-decoration: none;
}
.btn-primary {
  margin-top: 3px;
  background-color: rgb(68, 108, 7);
}
.btn-primary:hover {
  background-color: #fff;
  color: rgb(68, 108, 7);
}
.btn {
  width: 150px;
}
.errors {
  margin-top: 10px;
  color: red;
}
