.listCard {
  align-items: flex-start;
  display: flex;
  gap: 32px;
  position: relative;
  width: 1239px;
  right: 100px;
  left: 100px;
  z-index: 1;

  // align-items: flex-start;
  // display: flex;
  // gap: 32px;
  // position: relative;
  // width: 100%; /* Adjust the width */
  // margin: 0 auto; /* Center align the content */
  // z-index: 1;
}
.easy h3 {
  text-align: center;
  margin: 30px 0;
}

.card {
  background-color: #ffffff;
  border-radius: 10px;
  height: 405px;
  overflow: hidden;
  position: relative;
  width: 392px;

  &:hover {
    transform: translateY(-10px);
  }

  .frame {
    height: 215px;
    left: 1px;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 391px;
  }

  .text-wrapper {
    color: #09b451;
    font-family: "Poppins-SemiBold", Helvetica;
    font-size: 24px;
    font-weight: 600;
    left: 300px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 346px;
  }

  .div {
    align-items: flex-start;
    display: inline-flex;
    gap: 16px;
    left: 24px;
    position: absolute;
    top: 353px;
  }

  .text-wrapper-2 {
    color: var(--gray-1);
    font-family: "Poppins-Medium", Helvetica;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    width: fit-content;
  }

  .frame-2 {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 8px;
    position: relative;
  }

  .ci-group {
    height: 16px;
    position: relative;
    width: 16px;
  }

  .group {
    height: 72px;
    left: 24px;
    position: absolute;
    top: 239px;
    width: 346px;
  }

  .learn-marketing-from {
    color: var(--gray-1);
    font-family: "Poppins-Medium", Helvetica;
    font-size: 24px;
    font-weight: 500;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
    width: 295px;
  }

  .frame-3 {
    align-items: center;
    display: inline-flex;
    gap: 6px;
    left: 296px;
    position: absolute;
    top: 8px;
  }

  .ant-design-star {
    height: 18px;
    position: relative;
    width: 18px;
  }

  .text-wrapper-3 {
    color: #000000;
    font-family: "Poppins-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    width: fit-content;
  }
}

:root {
  --gray-1: rgba(51, 51, 51, 1);
}

// .learn {
//   height: 48px;
//   width: 506px;
//   position: sticky; /* Add this */
//   top: 0; /* Add this */
//   z-index: 1  ;

//   .learnanewskill {
//     color: #333333;
//     font-family: "Poppins-SemiBold", Helvetica;
//     font-size: 32px;
//     font-weight: 600;
//     left: 0;
//     letter-spacing: 0;
//     line-height: normal;
//     position: fixed;
//     width: 506px;
//     margin-left: 100px;
//   }
// }

// .easy {
//   margin-top: 50px;
// }
