#footer .footer-background {
  margin-top: 50px;
  position: relative;
}

#footer .footer-background > img {
  width: 100%;
  height: 530px;
  filter: opacity(0.8);
  filter: blur(1px);
}
#footer .footer-image {
  top: -21px;
  left: 100px;
  position: absolute;
}
.getStarted {
  margin-left: 5px;
  width: 161px;
  height: 60px;
  background-color: rgba(9, 180, 81, 1);
  border-radius: 5px;
  color: #fff;
  border-style: none;
}
#footer .getStarted:hover {
  background-color: #fff;
  color: rgba(9, 180, 81, 1);
}
#footer .placeACall {
  margin-left: 40px;
  width: 161px;
  height: 60px;
  color: rgba(9, 180, 81, 1);
  border-radius: 5px;
  background-color: #fff;
  border-style: none;
}
#footer .placeACall:hover {
  color: #fff;
  background-color: rgba(9, 180, 81, 1);
}
#footer .footer-content {
  height: 300px;
  width: 550px;
  position: absolute;
  top: 60px;
  right: 250px;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}
#footer .footer-content > h1 {
  font-weight: 700;
  font-size: 42px;
  line-height: 57.2px;
  margin-bottom: 50px;
}
#footer .footer-content > h4 {
  font-weight: 400;
  font-size: 24px;
  line-height: 32.68px;
  margin-bottom: 30px;
}
